<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.landvibe.handicraft">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".auth.SignInActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".masterProfile.MasterProfileActivity"
            android:parentActivityName=".main.MainActivity">

        </activity>

        <activity
            android:name=".userProfile.UserProfileActivity"
            android:parentActivityName=".main.MainActivity">

        </activity>

        <activity
            android:name=".furniture.detail.FurnitureDetailActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity">

        </activity>
        <activity
            android:name=".furniture.map.LocationActivity"
            android:parentActivityName=".furniture.detail.FurnitureDetailActivity">

        </activity>
        <activity
            android:name=".furniture.add.FurnitureAddActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/BlueCustomAppTheme">

        </activity>
        <activity
            android:name=".furniture.preview.FurniturePreviewActivity"
            android:parentActivityName=".furniture.add.FurnitureAddActivity">

        </activity>


        <!-- 네이버 아이디로 로그인에서 사용하는 액티비티를 등록 -->
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.nhn.android.naverlogin.ui.OAuthLoginInAppBrowserActivity"
            android:label="OAuth2.0 In-app" />

    </application>

</manifest>